.seats {
    width: 100%;
    height: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 12px;
}

.seat {
    width: 26px;
    height: 26px;
    font-size: 11px;
    color: #000000;
    display: grid;
    place-content: center;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid #7B8B99;
    background-color: #C3CFD9;
}

.seat.selected {
    border: 1px solid #1AAE9E;
    background-color: #8DD7CF;
}

.seat.unavailable {
    border: 1px solid #F7C52B;
    background-color: #FBE192;
}

.info {
    width: 100%;
    height: 63px;
    padding: 0 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info > div {
    display: grid;
    place-items: center;
}

.info h1 {
    font-size: 13px;
    color: #4E5A65;
    margin-top: 4px;
}

.book-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    width: 100%;
    height: auto;
    padding: 24px;

}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    width: 87vw;
    height: 51px;
    outline: none;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

input::placeholder {
    font-size: 18px;
    color: #AFAFAF;
    font-style: italic;
    padding-left: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.book {
    width: 225px;
    height: 42px;
    font-size: 18px;
    color: #ffffff;
    display: grid;
    place-content: center;
    border-radius: 3px;
    margin: 20px 0 30px 0;
    background-color: #E8833A;
}