.main {
	width: 100%;
	height: 100%;
	margin-bottom: 117px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seats {
	max-width: 500px;
	min-height: 209px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	flex-wrap: wrap;
	padding: 0 12px;
}

.seat {
	width: 26px;
	height: 26px;
	font-size: 11px;
	color: #000000;
	display: grid;
	place-content: center;
	margin: 0 3px;
	border-radius: 50%;
	border: 1px solid #7b8b99;
	background-color: #c3cfd9;
}

.seat.selected {
	border: 1px solid #1aae9e;
	background-color: #8dd7cf;
}

.seat.unavailable {
	border: 1px solid #f7c52b;
	background-color: #fbe192;
}

.info {
	width: 350px;
	height: 63px;
	padding: 0 40px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.info > div {
	display: grid;
	place-items: center;
}

.info h1 {
	font-size: 13px;
	color: #4e5a65;
	margin-top: 4px;
}
