.forms {
    width: 100%;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    width: 87vw;
    height: 51px;
    font-size: 18px;
    outline: none;
    padding-left: 15px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

input::placeholder {
    color: #AFAFAF;
    font-style: italic;
}

.book-button {
    width: 225px;
    height: 42px;
    font-size: 18px;
    color: #ffffff;
    display: grid;
    place-content: center;
    border: none;
    border-radius: 3px;
    margin: 50px 0 30px 0;
    background-color: #E8833A;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}